beautifulsoup4[html5lib]
build
chartpress>=2.1
click
dockerspawner
jsonschema
jupyter-repo2docker @ git+https://github.com/RCOSDP/CS-repo2docker.git@2026.02.0
jupyter_packaging>=0.10.4,<2
jupyterhub @ git+https://github.com/RCOSDP/CS-jupyterhub.git@5.2.1
nest-asyncio
pytest
pytest-asyncio<=0.25.0
pytest-cov
pytest-timeout
pytest_playwright
requests
ruamel.yaml>=0.17.30
